version: '3.9'
services:
  docker:
    image: docker:20.10.21-dind
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - type: volume
        source: docker-certs-ca
        target: /certs/ca
      - type: volume
        source: docker-certs-client
        target: /certs/client
      - type: volume
        source: docker-certs-server
        target: /certs/server
      - type: volume
        source: docker-lib
        target: /var/lib/docker
    networks:
      - docker
volumes:
  docker-certs-ca:
  docker-certs-client:
    name: docker-certs-client
  docker-certs-server:
  docker-lib:
networks:
  docker:    
    name: docker