stages:
  - validation
  - build

include:
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml
  - local: templates/data_image_jobs.gitlab-ci.yml

.validation_job:
  stage: validation
  artifacts:
    name: validation-results
    when: always
  tags:
    - public-runner-docker

lint_bash_scripts:
  extends: .validation_job
  image: koalaman/shellcheck-alpine:latest
  before_script:
    - apk add xmlstarlet
  script:
    - shellcheck -f checkstyle scripts/bash/*.sh > shellcheck-checkstyle-result.xml 
  after_script:
    - xmlstarlet tr misc/checkstyle2junit.xslt shellcheck-checkstyle-result.xml > shellcheck-junit-result.xml
  artifacts:
    paths: 
     - shellcheck-checkstyle-result.xml
     - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml

lint_ci_templates:
  extends: .validation_job
  image: python:latest
  before_script:
    - pip install yamllint-junit
  script:
    - yamllint --format parsable templates/ > yamllint-parsable-result.txt
  after_script:
    - yamllint-junit -o yamllint-junit-result.xml yamllint-parsable-result.txt
  artifacts:
    paths: 
     - yamllint-parsable-result.txt
     - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml

lint_python_scripts:
  extends: .validation_job
  image: python:latest
  before_script:
    - pip install pylint_junit
  script:
    - pip install -r scripts/python/requirements.txt
    - pylint --output-format=text,pylint_junit.JUnitReporter:pylint-junit-result.xml scripts/python/*.py
  artifacts:
    paths: 
     - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml

.build_docker_image:
  extends: .docker_image_builder_job
  stage: build
  variables:
    BUILD_TARGET: ""
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - tag=""
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
        tag=":latest"
      else
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
        tag=":$CI_COMMIT_REF_SLUG" 
      fi
    - |
      docker build --target $BUILD_TARGET --pull \
        -t "$CI_REGISTRY_IMAGE/$BUILD_TARGET${tag}" \
        -t "$CI_REGISTRY_IMAGE/$BUILD_TARGET:$CI_COMMIT_SHA" .
    -  docker push "$CI_REGISTRY_IMAGE/$BUILD_TARGET${tag}"
    -  docker push "$CI_REGISTRY_IMAGE/$BUILD_TARGET:$CI_COMMIT_SHA"  
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile
  tags:
    - public-runner-docker

build_docker_builder_image:
  extends: .build_docker_image
  variables:
    BUILD_TARGET: "docker-builder"

build_image_remover_image:
  extends: .build_docker_image
  variables:
    BUILD_TARGET: "image-remover"