variables:
  DOCKER_BUILDER_TAG: "$CI_COMMIT_SHA"
  DOCKER_DIND_TAG: "$CI_COMMIT_SHA"
  IMAGE_REMOVER_TAG: "$CI_COMMIT_SHA"

stages:
  - validation
  - pre-build
  - build
  - example-build
  - example-cleanup

include:
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml
  - local: templates/data_image_jobs.gitlab-ci.yml

.validation_job:
  stage: validation
  artifacts:
    name: validation-results
    when: always
  tags:
    - public-runner-docker

lint_bash_scripts:
  extends: .validation_job
  image: koalaman/shellcheck-alpine:latest
  before_script:
    - apk add xmlstarlet
  script:
    - shellcheck -f checkstyle scripts/bash/*.sh > shellcheck-checkstyle-result.xml 
  after_script:
    - xmlstarlet tr misc/checkstyle2junit.xslt shellcheck-checkstyle-result.xml > shellcheck-junit-result.xml
  artifacts:
    paths: 
     - shellcheck-checkstyle-result.xml
     - shellcheck-junit-result.xml
    reports:
      junit: shellcheck-junit-result.xml

lint_ci_templates:
  extends: .validation_job
  image: python:latest
  before_script:
    - pip install yamllint-junit
  script:
    - yamllint --format parsable templates/ > yamllint-parsable-result.txt
  after_script:
    - yamllint-junit -o yamllint-junit-result.xml yamllint-parsable-result.txt
  artifacts:
    paths: 
     - yamllint-parsable-result.txt
     - yamllint-junit-result.xml
    reports:
      junit: yamllint-junit-result.xml

lint_python_scripts:
  extends: .validation_job
  image: python:latest
  before_script:
    - pip install pylint_junit
  script:
    - pip install -r scripts/python/requirements.txt
    - pylint --output-format=text,pylint_junit.JUnitReporter:pylint-junit-result.xml scripts/python/*.py
  artifacts:
    paths: 
     - pylint-junit-result.xml
    reports:
      junit: pylint-junit-result.xml

.build_docker_image:
  extends: .docker_image_builder_job
  image: docker:20.10.10
  variables:
    BUILD_TARGET: ""
  before_script:
    - |
      echo -e "\e[0Ksection_start:$(date +%s):login[collapsed=true]\r\e[0KLogging to Docker registry..."
      docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
      echo -e "\e[0Ksection_end:$(date +%s):login\r\e[0K"
  script: 
    - |
      tag=""
      echo -e "\e[0Ksection_start:$(date +%s):tag[collapsed=true]\r\e[0KDetermining tag for the new image..."
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
        tag=":latest"
      else
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $CI_COMMIT_REF_SLUG"
        tag=":$CI_COMMIT_REF_SLUG" 
      fi
      echo -e "\e[0Ksection_end:$(date +%s):tag\r\e[0K"
      echo -e "\e[0Ksection_start:$(date +%s):build[collapsed=true]\r\e[0KBuilding image "$CI_REGISTRY_IMAGE/$BUILD_TARGET${tag}"..."
      docker build --file "Dockerfile.$BUILD_TARGET" --pull \
        -t "$CI_REGISTRY_IMAGE/$BUILD_TARGET${tag}" \
        -t "$CI_REGISTRY_IMAGE/$BUILD_TARGET:$CI_COMMIT_SHA" .
      echo -e "\e[0Ksection_end:$(date +%s):build\r\e[0K"
      echo -e "\e[0Ksection_start:$(date +%s):push1[collapsed=true]\r\e[0KPushing image "$CI_REGISTRY_IMAGE/$BUILD_TARGET${tag}"..."
      docker push "$CI_REGISTRY_IMAGE/$BUILD_TARGET${tag}"
      echo -e "\e[0Ksection_end:$(date +%s):push1\r\e[0K"
      echo -e "\e[0Ksection_start:$(date +%s):push2[collapsed=true]\r\e[0KPushing image "$CI_REGISTRY_IMAGE/$BUILD_TARGET:$CI_COMMIT_SHA"..."
      docker push "$CI_REGISTRY_IMAGE/$BUILD_TARGET:$CI_COMMIT_SHA"
      echo -e "\e[0Ksection_end:$(date +%s):push2\r\e[0K" 
  tags:
    - public-runner-docker

build_docker_dind_image:
  stage: pre-build
  image: docker:20.10.10
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
    BUILD_TARGET: "docker-dind"
  before_script:
    - !reference [.build_docker_image, before_script]
  script:
    - !reference [.build_docker_image, script]
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile.docker-dind
  services:
    - docker:20.10.10-dind
  tags:
    - public-runner-docker

build_docker_builder_image:
  extends: .build_docker_image
  stage: build
  variables:
    BUILD_TARGET: "docker-builder"
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile.docker-builder

build_image_remover_image:
  extends: .build_docker_image
  stage: build
  variables:
    BUILD_TARGET: "image-remover"
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile.image-remover

prepare_example_hived_data_5m_image:
  extends: .prepare_hived_data_5m_image
  stage: example-build
  variables:
    REGISTRY_USER: "$CI_REGISTRY_USER"
    REGISTRY_PASS: "$CI_REGISTRY_PASSWORD"
    REGISTRY_URL: "registry.gitlab.syncad.com/hive/common-ci-configuration/hive/"
  before_script:
    - git clone --branch develop $REPOSITORY_URL
  after_script:
    - cat docker_image_name.env
  when: manual
  tags:
    - public-runner-docker

prepare_example_haf_data_5m_image:
  extends: .prepare_haf_data_5m_image
  stage: example-build
  variables:
    REGISTRY_USER: "$CI_REGISTRY_USER"
    REGISTRY_PASS: "$CI_REGISTRY_PASSWORD"
    REGISTRY_URL: "registry.gitlab.syncad.com/hive/common-ci-configuration/haf/"
  before_script:
    - git clone --branch develop $REPOSITORY_URL
  after_script:
    - cat docker_image_name.env
  when: manual
  tags:
    - public-runner-docker

example_hived_data_image_cleanup:
  extends: .docker_image_cleanup_job
  stage: example-cleanup
  variables:
    REGISTRY_PASS: "$REGISTRY_PASS"
    IMAGE_PATH: $HIVED_IMAGE_NAME_REGISTRY_PATH
    IMAGE_TAG: $HIVED_IMAGE_NAME_REGISTRY_TAG
  needs:
    - prepare_example_hived_data_5m_image
  when: manual
  tags:
    - public-runner-docker

example_haf_data_image_cleanup:
  extends: .docker_image_cleanup_job
  stage: example-cleanup
  variables:
    REGISTRY_PASS: "$REGISTRY_PASS"
    IMAGE_PATH: $HAF_IMAGE_NAME_REGISTRY_PATH
    IMAGE_TAG: $HAF_IMAGE_NAME_REGISTRY_TAG
  needs:
    - prepare_example_haf_data_5m_image
  when: manual
  tags:
    - public-runner-docker