.docker_image_builder_job:
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  image: docker:20.10.10
  interruptible: true
  services:
    - docker:20.10.10-dind

.docker_image_cleanup_job:
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/image-remover:latest
  interruptible: true
  variables:
    REGISTRY: $CI_REGISTRY_IMAGE
    REGISTRY_PASS: ""
    IMAGE_PATH: ""
    IMAGE_TAG: ""
  script:
    - echo "Attempting to cleanup an image $IMAGE_PATH using tag $IMAGE_TAG from $REGISTRY"
    - python /delete-image.py "$REGISTRY_PASS" "$CI_PROJECT_ID" "$IMAGE_PATH" "$IMAGE_TAG"

  when: always

.prepare_data_5m_image:
  extends: .docker_image_builder_job
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/docker-builder:latest
  variables:
    DOTENV_NAME: ""
    REGISTRY_USER: "$CI_IMG_BUILDER_USER"
    REGISTRY_PASS: "$CI_IMG_BUILDER_PASSWORD"
    REGISTRY_URL: ""
    REPOSITORY_URL: ""
    SUBDIRECTORY: ""
  script:
    - |
      get-image4submodule.sh "$SUBDIRECTORY" \
        "$REGISTRY_URL" \
        "$DOTENV_NAME" \
        "$REGISTRY_USER" \
        "$REGISTRY_PASS" \
        "hived-mainnet-binaries" \
        "$REPOSITORY_URL"
    - ls -la ./hived-mainnet-binaries/*
  artifacts:
    reports:
      dotenv: docker_image_name.env
    paths:
      - ./hived-mainnet-binaries/*
    expire_in: 6 hours

.prepare_hived_data_5m_image:
  extends: .prepare_data_5m_image
  variables:
    DOTENV_NAME: "HIVED_IMAGE_NAME"
    REGISTRY_URL: "registry.gitlab.syncad.com/hive/hive/"
    REPOSITORY_URL: "https://gitlab.syncad.com/hive/hive.git"
    SUBDIRECTORY: "hive"

.prepare_haf_data_5m_image:
  extends: .prepare_data_5m_image
  variables:
    DOTENV_NAME: "HAF_IMAGE_NAME"
    REGISTRY_URL: "registry.gitlab.syncad.com/hive/haf/"
    REPOSITORY_URL: "https://gitlab.syncad.com/hive/haf.git"
    SUBDIRECTORY: "haf"
