variables:
  DOCKER_BUILDER_TAG: "latest"
  DOCKER_DIND_TAG: "latest"
  IMAGE_REMOVER_TAG: "latest"

.artifact_policy:
  artifacts:
    when: always
    expire_in: 6 hours

.docker_image_builder_job_template:
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/docker-builder:${DOCKER_BUILDER_TAG}
  interruptible: true
  before_script:
    - |
      echo -e "\e[0Ksection_start:$(date +%s):buildkit_config[collapsed=true]\r\e[0KConfiguring Docker BuildKit..."
      docker context create builder-context
      docker buildx create --driver docker-container --name docker-container-builder --use builder-context
      echo -e "\e[0Ksection_end:$(date +%s):buildkit_config\r\e[0K"
  services:
    - name: registry.gitlab.syncad.com/hive/common-ci-configuration/docker-dind:${DOCKER_DIND_TAG}
      alias: docker

.docker_image_cleanup_job_template:
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/image-remover:${IMAGE_REMOVER_TAG}
  interruptible: true
  variables:
    REGISTRY: $CI_REGISTRY_IMAGE
    REGISTRY_PASS: ""
    IMAGE_PATH: ""
    IMAGE_TAG: ""
  script:
    - echo "Attempting to cleanup an image $IMAGE_PATH using tag $IMAGE_TAG from $REGISTRY"
    - python /delete-image.py "$REGISTRY_PASS" "$CI_PROJECT_ID" "$IMAGE_PATH" "$IMAGE_TAG"
  when: always
