variables:
  DOCKER_BUILDER_TAG: "latest"
  DOCKER_DIND_TAG: "latest"
  IMAGE_REMOVER_TAG: "latest"

include:
  - local: templates/base.gitlab-ci.yml

.docker_image_builder_job_template:
  extends: .job-defaults
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/docker-builder:${DOCKER_BUILDER_TAG}
  interruptible: true
  before_script:
    - |
      echo -e "\e[0Ksection_start:$(date +%s):buildkit_config[collapsed=true]\r\e[0KConfiguring Docker BuildKit..."
      docker context create builder-context
      docker buildx create --driver docker-container --name docker-container-builder --use builder-context
      echo -e "\e[0Ksection_end:$(date +%s):buildkit_config\r\e[0K"
  services:
    - name: registry.gitlab.syncad.com/hive/common-ci-configuration/docker-dind:${DOCKER_DIND_TAG}
      alias: docker

.docker_image_cleanup_job_template:
  extends: .job-defaults
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/image-remover:${IMAGE_REMOVER_TAG}
  interruptible: true
  variables:
    REGISTRY: $CI_REGISTRY_IMAGE
    REGISTRY_PASS: ""
    IMAGE_PATH: ""
    IMAGE_TAG: ""
  script:
    - echo "Attempting to cleanup an image $IMAGE_PATH using tag $IMAGE_TAG from $REGISTRY"
    - python /delete-image.py "$REGISTRY_PASS" "$CI_PROJECT_ID" "$IMAGE_PATH" "$IMAGE_TAG"
  when: always

.publish_docker_image_template:
  extends: .docker_image_builder_job_template
  needs: []
  variables:
    DOCKER_HUB_USER: $DOCKER_HUB_USER
    DOCKER_HUB_PASSWORD: $DOCKER_HUB_PASSWORD
  before_script:
    - echo "Disabled the default before_script from image builder job template"
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"'
      when: manual
      allow_failure: true
