variables:
  TOX_IMAGE_TAG: "latest"
  JQ_IMAGE_TAG: "latest"

include:
  - local: templates/base.gitlab-ci.yml

.determine-runner-tag-template:
  extends: .job-defaults
  image: registry.gitlab.syncad.com/hive/common-ci-configuration/tox-test-runner:${TOX_IMAGE_TAG}
  variables:
    GIT_STRATEGY: none
  script:
    - |
      cat <<-EOF > "${CI_PROJECT_DIR}/parse-runner-tags.py"
      #!/usr/bin/python3
      '''
      This script parses $CI_RUNNER_TAGS variable to create a .env file containing the
      tags of the runner used to run the job it's invoked in.
      '''
      import argparse
      import json
      import os

      parser = argparse.ArgumentParser(description='Script to parse $CI_RUNNER_TAGS variable and create a dotenv file based on it.')
      parser.add_argument("-o", "--output-file", help = "File to write output to", required=True)

      args = parser.parse_args()

      ci_runner_tags = os.getenv("CI_RUNNER_TAGS")
      if ci_runner_tags is None:
        print("Variable CI_RUNNER_TAGS is no set, please set it and rerun this script.")
        exit(1)
      print("CI_RUNNER_TAGS={ci_runner_tags}".format(ci_runner_tags=ci_runner_tags))

      ci_runner_tags_json = json.loads(ci_runner_tags)
      print("Parsed data:\n")
      print(*ci_runner_tags_json, sep = "\n")

      output_file = getattr(args, "output_file")

      with (
        open(output_file, 'w') as output
      ):
        for index, tag in enumerate(ci_runner_tags_json):
          output.write("RUNNER_TAG_{index}={tag}\n".format(index=index, tag=tag))
      EOF
      chmod +x "${CI_PROJECT_DIR}/parse-runner-tags.py"
      python3 "${CI_PROJECT_DIR}/parse-runner-tags.py" --output-file "$CI_PROJECT_DIR/runner-tag.env"
      cat $CI_PROJECT_DIR/runner-tag.env
  artifacts:
    when: on_success
    expire_in: "1 weeks"
    reports:
      dotenv: runner-tag.env
  tags:
    - $DATA_REPLAY_TAG

.dynamic-tag-pipeline-trigger-template:
  variables:
    DYNAMIC_RUNNER_TAG_0: $RUNNER_TAG_0
    DYNAMIC_RUNNER_TAG_1: $RUNNER_TAG_1
    DYNAMIC_RUNNER_TAG_2: $RUNNER_TAG_2
    DYNAMIC_RUNNER_TAG_3: $RUNNER_TAG_3
    DYNAMIC_RUNNER_TAG_4: $RUNNER_TAG_4
    DYNAMIC_RUNNER_TAG_5: $RUNNER_TAG_5
    DYNAMIC_RUNNER_TAG_6: $RUNNER_TAG_6
    DYNAMIC_RUNNER_TAG_7: $RUNNER_TAG_7
    DYNAMIC_RUNNER_TAG_8: $RUNNER_TAG_8
    DYNAMIC_RUNNER_TAG_9: $RUNNER_TAG_9

.dynamic-runner-job-template:
  extends: .job-defaults
  tags:
    - $DYNAMIC_RUNNER_TAG_0
    - $DYNAMIC_RUNNER_TAG_1
    - $DYNAMIC_RUNNER_TAG_2
    - $DYNAMIC_RUNNER_TAG_3
    - $DYNAMIC_RUNNER_TAG_4
    - $DYNAMIC_RUNNER_TAG_5
    - $DYNAMIC_RUNNER_TAG_6
    - $DYNAMIC_RUNNER_TAG_7
    - $DYNAMIC_RUNNER_TAG_8
    - $DYNAMIC_RUNNER_TAG_9

.dynamic-pipeline-details-collector-template:
  extends: .job-defaults
  image: "registry.gitlab.syncad.com/hive/common-ci-configuration/jq:$JQ_IMAGE_TAG"
  variables:
    GIT_STRATEGY: none
  script:
    - |
      set -e

      echo -e "\e[0Ksection_start:$(date +%s):step1[collapsed=true]\r\e[0KGetting child pipeline ID..."
      BRIDGES_URL="$CI_API_V4_URL/projects/$CI_PROJECT_ID/pipelines/$CI_PIPELINE_ID/bridges"
      echo "BRIDGES_URL: $BRIDGES_URL"
      curl --output bridges.json --silent --fail-with-body \
        --header "PRIVATE-TOKEN: $CHILD_PIPELINE_ACCESS_TOKEN" "$BRIDGES_URL"
      CI_CHILD_PIPELINE_ID=$(cat bridges.json | jq ".[] | select(.name==\"dynamic-tag-pipeline-trigger\") | .downstream_pipeline | .id")
      echo "Child pipeline ID: $CI_CHILD_PIPELINE_ID"
      echo -e "\e[0Ksection_end:$(date +%s):step1\r\e[0K"

      echo -e "\e[0Ksection_start:$(date +%s):step2[collapsed=true]\r\e[0KGetting child pipeline jobs' details..."
      CHILD_JOBS_URL="$CI_API_V4_URL/projects/$CI_PROJECT_ID/pipelines/$CI_CHILD_PIPELINE_ID/jobs"
      echo "CHILD_JOBS_URL: $CHILD_JOBS_URL"
      curl --output child-jobs.json --silent --fail-with-body \
          --header "PRIVATE-TOKEN: $CHILD_PIPELINE_ACCESS_TOKEN" "$CHILD_JOBS_URL"
      echo -e "\e[0Ksection_end:$(date +%s):step2\r\e[0K"
  artifacts:
    when: always
    paths:
      - "bridges.json"
      - "child-jobs.json"

.dynamic-pipeline-test-results-collector-template:
  extends: .job-defaults
  image: "registry.gitlab.syncad.com/hive/common-ci-configuration/jq:$JQ_IMAGE_TAG"
  variables:
    GIT_STRATEGY: none
  script:
    - |
      set -e

      echo -e "\e[0Ksection_start:$(date +%s):step3[collapsed=true]\r\e[0KProcessing test results from job: $CHILD_PIPELINE_JOB"
      echo "Getting child job ID..."

      CI_CHILD_JOB_ID=$(cat child-jobs.json | jq ".[] | select(.name==\"$CHILD_PIPELINE_JOB\") | .id")
      echo "Child job ID: $CI_CHILD_JOB_ID"

      echo "Downloading artifacts..."
      ARTIFACT_URL="$CI_API_V4_URL/projects/$CI_PROJECT_ID/jobs/$CI_CHILD_JOB_ID/artifacts"
      echo "ARTIFACT_URL=$ARTIFACT_URL"
      curl --output artifacts.zip --fail-with-body \
        --header "PRIVATE-TOKEN: $CHILD_PIPELINE_ACCESS_TOKEN" "$ARTIFACT_URL"

      unzip artifacts.zip
      rm artifacts.zip
      echo "Done!"
      echo -e "\e[0Ksection_end:$(date +%s):step3\r\e[0K"
  artifacts:
    when: always
    reports:
      junit:
        - "**/re*.xml"
    paths:
      - "**/re*.xml"
