include:
  - local: templates/base.gitlab-ci.yml

variables:
  # uses registry.gitlab.syncad.com/hive/common-ci-configuration/emsdk:3f16e4d0f714b94be0fc83a29a7b20129deca2f8
  EMSCRIPTEN_IMAGE_TAG: "@sha256:09be4e5a5e4eb33835d6edffe9c26e2772e98fedcfbdef07f8ad4b1382fa4405"
  EMSCRIPTEN_IMAGE: "registry.gitlab.syncad.com/hive/common-ci-configuration/emsdk:3.1.43$EMSCRIPTEN_IMAGE_TAG"

.wasm_build_job_template:
  extends: .job-defaults
  interruptible: true
  variables:
    # The directory containing sources to be built - it should be overrided by derived job
    SOURCE_DIR: ""
    # Output directory where should be stored binaries - it should be overrided by derived job
    BINARIES_DIR: ""

  image: ${EMSCRIPTEN_IMAGE}

  before_script:
    - git config --global --add safe.directory '*'

  script:
    - mkdir -vp "${BINARIES_DIR}"
    - cd "${BINARIES_DIR}"
    - cmake -DBoost_NO_WARN_NEW_VERSIONS=1 -DBoost_USE_STATIC_RUNTIME=ON -DCMAKE_TOOLCHAIN_FILE=/emsdk/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake -DCMAKE_BUILD_TYPE=Release -G "Unix Makefiles" -S "${SOURCE_DIR}" -B "${BINARIES_DIR}"
    - make -j 8

  artifacts:
    paths:
      - "${BINARIES_DIR}/*.d.ts"
      - "${BINARIES_DIR}/*.mjs"
      - "${BINARIES_DIR}/*.js"
      - "${BINARIES_DIR}/*.wasm"
    when: always
    expire_in: 1 week
